body {
    background-image: url("./bild/gta5.jpg");
}

h1 {
    background-color: #0000004f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
}

h2 {
    background-color: #00000085;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
}

.li-rp {
    background-color: #00000038;
    color: #df0505;
}

.li-rp:hover {
    background-color: #000000d2;
    color: #df0505;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
    width: 30%;
}

h3 {
    background-color: #00000085;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%;
}

h4 {
    background-color: #000000;
    color: #ff6347;
}

.li-rage {
    background-color: #deb88700;
}

.li-five {
    background-color: #13df1d00;
}

.li-alt {
    background-color: #ff000000;
}

.alter-ul {
    background-color: c;
    color: #df0505;
}

.alter-ul:hover {
    background-color: #000000d2;
    color: #df0505;
}

a {
    color: #ff0000;
}

.img-18 {
    background-color: #000000a1;
    color: #df0505;
    width: 5%;
}

a:hover {
    color: #ffffff;
    background-color: #410202;
}

h1:hover {
    background-color: #c83c3ccc;
}

h2:hover {
    background-color: #c83c3ccc;
}

h3:hover {
    background-color: #c83c3ccc;
}

h4:hover {
    background-color: #c83c3ccc;
}